/*CSS reset settings here*/
*{
    margin: 10px;
    padding: 10px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
   }
   #header{
    min-height: 150px;
    background-color: green;
    margin: 10px;
    padding: 10px;
    display: block;
    padding: 10px;
    margin: 10px;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    padding: 10px;
    margin: 10px;
   }
   #main_content{
    min-height: 400px;
    width: 70%;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
   }
   .subcontents{
    min-height: 160px;
    width: 165px ;
    background-color: yellow;
    display:inline-block;
    margin: 10px;
    padding: 10px;
    
   }
   #advertisement{
    min-height: 120px;
    width: 585px ;
    background-color: purple;
    display: inline-block;
    padding: 10px;
    margin: 10px;
   }
   